.container {
    width: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10% 10% 0% 10%;
}

input{
    height: 5vh;
    margin-top: 2%;
    margin-bottom: 7%;
    width: 70%;
    text-align: center;
    color: white;
    font-size: 200%;
    background: none;
    border: none;
}

/* #sunrise{
    background-color: #000;
} */

#music{
    height: 5vh;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 70%;
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: 200%;
}

div{
    font-size: 150%;
}

button{
    width: 30vw;
    height: 10vh;
    background-color: #2d2e40;
    font-size: 4vw;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin: 7% 0;
}

.param{
    width: 60vw;
    height: 5vh;
    background-color: #2d2e40;
    font-size: 4vw;
    border-radius: 30px;
    cursor: pointer;
    margin: 3% 0;
}

.active {
    width: 55vw;
    background-color: #787a9f;
}

.btn{
    display: flex;
}