@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@50:2000&display=swap');

html{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

* {
    padding: 0;
    margin: 0;
  }

#backgound_image{
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
}

.page{
    position: relative;
    height: 100vh;
    width: 100%;
}
#home_img{
    height: 60vh;
}

.sots{
    position: absolute;
}

#sots1 {
    top: 70vh;
    right: 0px;
}

#sots2 {
    top: 60vh;
    left: 0px;
}

.menu {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
}

.item {
    margin: 3% 2%;
    cursor: pointer;
}

.container_main{
    height: 90vh;
    display: flex;
    align-items: center;
}

.container_main .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
}
.subtitle{
    font-size: calc((1vh + 1vw) * 2);
    font-weight: 100;
}
.title{
    width: fit-content;
    font-size: calc((1vh + 1vw) * 3);
    font-weight: 700;
}
.subtext{
    margin-top: 10%;
}
.button{
    text-transform: uppercase;
    margin-top: 10%;
    border: solid 1px;
    text-align: center;
    width: fit-content;
    padding: 3% 5%;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1000;
}



#sequre_page .container_main{
    height: 60vh;
    justify-content: center;
}

#sequre_page .main_img{
    height: 50vh;
}

.second_box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    height: 35vh;
    width: 90vw;
    background: linear-gradient(rgba(215, 93, 237, 0.5), rgba(253, 199, 251, 0.5), rgba(202, 84, 222, 0.5));
    /* opacity: .5; */
    /* padding: 5% 5%; */
    margin: 0 5%;
    border-radius: 30px;
}

.second_box .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 30%;
    margin: 0 3%;
}

.second_box .container img {
    margin-bottom: 3%;
    width: 20%;
}

.second_box .container .title{
    font-size: 2rem;
    margin-bottom: 4%;
}

.second_box .container .subtitle{
    font-size: 1rem;
    text-align: center;
}

/* #lk_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#lk_page .container_main{
    height: 90%;
    margin:10% 0;
}

#lk_page .title{
    font-size: 4rem;
}

#lk_page .subtext{
    font-size: 1rem;
}

#lk_page .string{
    margin-bottom: 3%;
}

#lk_page .main_img{
    position: relative;
    height:70vh;
}
#lk_page .main_img img{
    height: 70vh;
}

#lk_page .button{
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    border: solid 1px;
    text-align: center;
    width: fit-content;
    padding: 3% 5%;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1000;
}

#lk_page .main_img:hover{
    scale: 105%;
}