@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap'); */
* {
    padding: 0;
    margin: 0;
  }


.container {
    /* margin-top: 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input{
    margin-bottom: 10%;
    height: 5vh;
    width: 70vw;
    font-size: 4vw;
    background: none;
    border: none;
    border-bottom: solid 3px #2d2e40;
    outline:none;
    color: white;
    text-align: center;
}

button{
    width: 70vw;
    height: 10vh;
    display: block;
    margin: auto auto 10% auto;
    background-color: #2d2e40;
    font-size: 4vw;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.if{
    width: 80%;
    border-bottom: 10px white;
    padding-bottom: 5%;
    border-bottom: medium dashed #2d2e40;
    padding-top: 5%;
    border-top: medium dashed #2d2e40;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row button{
    width: 7vh;
    height: 7vh;
    margin: 0;
}

.row select{
    width: 7vh;
    height: 7vh;
    text-align: center;
    background: none;
    color: white;
    font-size: 7vw;
    border: none;
}

.row input{
    height: 5vh;
    width: 20vw;
    margin: 0;
}

.action{
    width: 70vw;
    height: 5vh;
    margin: 4% 0 0 0;
    text-align: center;
    background: none;
    color: white;
    font-size: 4vw;
    border: none;
}

#btn_add {
    height: 10vh;
    margin-top: 10%;
}

#btn_save {
    margin-top: 7%;
}

.hidden {
    position: absolute;
    top: -100%;
}

.type{
    font-size: 6vw;
    margin: 5vh 0;
    font-weight: 100;
}