body {
    background: radial-gradient(circle at 150%, #471f71, #0f1219);
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none !important;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* position: absolute; */
    /* top: -10% */
}

@media screen and (orientation: landscape) {
    body {scale: 0.5;
        /* margin-top: -16%; */
    }
}

button:active button:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {
border: 0;
}
