body {
    background: radial-gradient(circle at 150%, #471f71, #0f1219);
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none !important;
    color: white;
}

button:active button:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {
border: 0;
}
