@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500');

* {
    padding: 0;
    margin: 0;
  }
   
html, body {
    height: 100%;
}

body {
    background: url('../src/img/bg.jpg') top left/1280px 720px repeat;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none !important;
    /* background-color: #393939; */
}

a { -webkit-user-select: none !important; }

.container{
    width: 100%;
    height: 100%;
    /* max-height: 100px ; */
    /* max-width: 500px; */
    margin: 0;
}

.header{
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: calc(5px + 16 * (100vw / 400));
    padding-bottom: 7%;
}

.header div{
    display: inline;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main_btn{
    position: relative;
    background-color: #5b5b5b;
    max-width: 43%;
    max-height: 43%;
    border-radius: 13%;
    margin: auto;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px 50px rgba(0,0,0,.7);
    margin-bottom: 12%;
}

.main_btn_container{
    display: flex;
    height: 100%;
    justify-content: center;
    cursor: pointer;
}

.main_btn img{
    width: 70%;
    margin: auto;
}

.circle{
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #9c636a;
    box-shadow: 0 0 10px rgba(156,99,106,.5);
    top: 10%;
    right: 10%;
    opacity: .8;
}

.main_btn.active .circle{
    background-color: #619c66;
    box-shadow: 0 0 10px rgba(97,156,102,.5);
}

.yellow .circle{
    background-color: #9c9261;
    box-shadow: 0 0 10px rgba(156,146,97,.5);
}

.main_btn_text{
    color: #5b5b5b;
    font-size: 6vw;
    display: block;
    position: absolute;
    top: 25%;
    bottom: 0%;
    left: 0%;
    right: 2%;
    text-align: center;
    font-weight: 900;
}

.main_btn_text p.active{
    display: none;
}

.btn_list{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    place-items: center;
    
}

.btn{
    background-color: #5b5b5b;
    width: 85%;
    border-radius: 15%;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px 50px rgba(0,0,0,.5);
    margin-top: 15%;
    margin-bottom: 15%;
    position: relative;
    cursor: pointer;
}

.btn.active .circle{
    background-color: #619c66;
    box-shadow: 0 0 10px rgba(97,156,102,.5);
}

.btn img{
    position: absolute;
    margin: auto;
    display: block;
    max-width:75%;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.list {
    display: inline;
    height: 100%;
}

/* @media (min-width: 500px) {
.container{
    max-width: 500px;
    margin: auto; 
}
.main_btn_text{
    font-size: 200%;
}
.header{
    font-size: 170%;
}
}*/

.menu{
    display: block;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    margin: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted white;
    text-align: center;
}
/* .menu:last-child
{
    margin-bottom: 0px;
} */